<!doctype html>
<title>TGCW</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="channels">
    <table>
        {% for channel in channels %}
        <tr><td>{{ channel }}</td><td>{{ channels[channel] }}</td></tr>
        {% endfor %}
        <tr><td>Last update</td><td>{{ lastupdate }}</td></tr>
    </table>

</div>